@font-face {
    font-family: "Roboto-Light";
    src: url("fonts/Roboto-Light.woff2") format("woff2"),
    url("fonts/Roboto-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("fonts/Roboto-Regular.woff2") format("woff2"),
    url("fonts/Roboto-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.calculator {
    padding-top: 30px;
    background: #161A20;
    border-radius: 34px;
    user-select: none;
    font-family: Roboto-Regular;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator__col {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #CBE1FF;
    height: 80px;
    width: 80px;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.calculator__col {
    display: flex;
    cursor: pointer;
}

.calculator__btns {
    padding: 16px;
    display: flex;
    justify-content: center;
}

.calculator__result-display {
    padding: 16px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: #161A20;
    height: 100px;
    width: 100%;
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.calculator__expression-display {
    padding: 12px 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 48px;
    background: #20252E;
    font-family: Roboto-Light;
    color: #CBE1FF;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
}

.num {
    border-radius: 2px;
    background: #242933;

}

.calc {
    border-radius: 2px;
    background: #0060E5;
}

.operation {
    border-radius: 2px;
    background: #363E4D;
}

.angle-lt {
    border-radius: 8px 2px 2px 2px;
}

.angle-rt {
    border-radius: 2px 8px 2px 2px;
}

.angle-lb {
    border-radius: 2px 2px 2px 8px;
}

.angle-rb {
    border-radius: 2px 2px 8px 2px;
}
